body {
    height: 100vh;
    width: 100vw;
    display: flax;
    flex-direction: column;
    text-align: center;
    background: #ff1313;
    padding: 0;
    margin: 0;
    color: #fff;
}
.wrap {
    margin-top: 50px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 80px;
}

.switch input {
    visibility: hidden;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(112, 42, 42);
    box-shadow: 5px 5px 3px 5px rgba(0, 0, 0, 0.2);
}
.slider::before {
    position: absolute;
    content: "";
    height: 65px;
    width: 65px;
    background: #fff;
    left: 4px;
    bottom:  4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input:checked + .slider {
    background: #ff2442;
}

input:checked + .slider::before {
    transform: translate(177px);
}

.slider.round {
    border-radius: 50px;
}

.slider.round::before {
    border-radius: 50%;
}

.lights-on {
    background: #6dfd49;
    width: 100vw;
    height: 100vw;
}